[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/saldanhacl
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/saldanhacl
	label-Verified = -1..+1 group user/saldanhacl
	push = group user/saldanhacl
	read = group user/saldanhacl
	rebase = group user/saldanhacl
	removeReviewer = group user/saldanhacl
	submit = group user/saldanhacl
[access "refs/heads/*"]
	create = group user/saldanhacl
	push = +force group user/saldanhacl
	pushMerge = group user/saldanhacl
	read = group user/saldanhacl
[access "refs/tags/*"]
	push = group user/saldanhacl
	push = +force group user/saldanhacl
